@model PagedList.IPagedList<BDev.Common.Task>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Tasks</h2>
@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>There are no tasks to show</h4>
}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<div>
    @Html.ActionLink("Back to employee's List", "Index", "Employees")
</div>